<div class="container-fluid">

  <!-- titre -->
  <div class="row titre border-bottom">
    <button (click)="reset()" *ngIf="_gameOverJoueur || _gameOverIA">Redémarrer</button>
    <div class="mx-auto">
      <h1> Wood Block Puzzle</h1>
    </div>
    <span style="font-size:15px;cursor:pointer" (click)="openNav()">&#9776; Options</span>
  </div>

  <!-- socre -->
  <score [scoreJoueur]="scoreJoueur" [scoreIA]="scoreIA"></score>

  <!-- plateau -->
  <div class="row">
    <div class="col-md-6">
      <plateau-joueur [gridJoueur]="_plateauJoueur" (updateScoreJoueurEvent)="updateScoreJoueur($event)">
      </plateau-joueur>
    </div>
    <div class="col-md-6">
      <plateau-ia [gridIA]="_plateauIA" (updateScoreIAEvent)="updateScoreIA($event)"></plateau-ia>
    </div>
  </div>

  <!-- piece posable -->
  <div class="row">
    <div class="col-md-6">
      <piece-posable-joueur [blockPosableJoueur]="_piecesJoueur" [gameOverJoueur]="_gameOverJoueur" (startIAEvent)="startIA()"></piece-posable-joueur>
    </div>
    <div class="col-md-6">
      <piece-posable-ia [blockPosableIA]="_piecesIA" [coordonnees]="_coordonnees" [gridIA]="_plateauIA"
        (getPieceEvent)="getPiece()"></piece-posable-ia>
    </div>
  </div>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <!-- options -->
    <div class="options_tab">
      <div class="row">
        <div class="col ia_options">
          <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal">
            Options
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col options_button">
          button
        </div>
      </div>

    </div>
  </div>

  <router-outlet></router-outlet>
</div>