@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
// @import "../../../node_modules/ng-drag-drop/style.css";

.grille img {
  height: 100%;
  width: 100%;
}

.blocks img {
  // height: 85%;
  // width: 30%;
}

.blocks div,
.grille div {
  padding: 0;
}
