<!-- blocks à jouer -->
<div class="row blocks">
    <div class="col border-right text-center" *ngFor="let block of blockPosableIA">
      <img src="assets/img/{{block.nom}}.png" class="rounded">
    </div>
  </div>