<div class="row border-bottom">

  <div class="col-md-3"><h5>Joueur</h5></div>
  <div class="col-md-3 text-right border-right"><h5>Score : {{scoreJoueur}}</h5></div>
  
  <div class="col-md-3"><h5>IA</h5></div>
  <div class="col-md-3 text-right"><h5>Score : {{scoreIA}}</h5></div>

</div>