<!-- grille -->
<!-- <div class="row grille border-left border-bottom">
  <div class="col">

    <div class="row justify-content-sm-center" *ngFor="let gr of gridIA.mainTable; index as i">
      <div *ngFor="let col of gr; index as j" id="{{i}},{{j}}"
        class="col-sm-1 border-right border-left border-bottom border-top"> -->

        <!-- <div (drop)="drop($event)" (dragover)="allowDrop($event)"> -->
        <!-- <div cdkDrop (cdkDropDropped)="dropped($event)"> -->

        <!-- <img src="assets/img/{{col}}.png" class="rounded"> -->
        <!-- <img src="assets/img/{{col}}.png" class="rounded" *ngIf="col; else elseBlockImg">
        <ng-template #elseBlockImg>
          <img src="assets/img/woodblocke.png" class="rounded">
        </ng-template> -->
        <!-- </div> -->

        <!-- <div *ngIf="col; else elseBlock">
              <img src="assets/img/woodblock.png" class="rounded" *ngIf="col">
            </div>

            <ng-template #elseBlock>
              <div (drop)="drop($event)" (dragover)="allowDrop($event)"> </div>
              <div cdkDropList (cdkDropListDropped)="drop($event)"> </div>
            </ng-template> -->
      <!-- </div>
    </div> -->

    <!-- <div class="row justify-content-md-center" *ngFor="let gr of gridIA.mainTable">
      <div *ngFor="let col of gr" class="col-sm-1 border-right border-left border-bottom border-top"> -->

        <!-- <div (drop)="drop($event)" (dragover)="allowDrop($event)"> -->
        <!-- <div cdkDrop (cdkDropDropped)="dropped($event)">
          <img src="assets/img/woodblock.png" class="rounded" *ngIf="col">
        </div> -->

        <!-- <div *ngIf="col; else elseBlock">
                <img src="assets/img/woodblock.png" class="rounded" *ngIf="col">
              </div>
  
              <ng-template #elseBlock>
                <div (drop)="drop($event)" (dragover)="allowDrop($event)"> </div>
                <div cdkDropList (cdkDropListDropped)="drop($event)"> </div>
              </ng-template> -->
      <!-- </div>
    </div> -->
  <!-- </div>
</div> -->




<!-- <div id="cf">
  <img class="bottom" src="assets/img/-22.png" />
  <img class="top" src="assets/img/1.png" />
</div> -->


<!-- grille -->
<!-- <button id="animate" (click)="changeState()">click</button> -->
<div class="row grille border-left border-bottom">
    <div class="col">
      <div class="row justify-content-sm-center" *ngFor="let gr of gridIA.mainTable; index as i">
        <div *ngFor="let col of gr; index as j" id="{{i}},{{j}}" class="col-sm-1 border">
  
          <!-- <div (drop)="drop($event)" (dragover)="allowDrop($event)"> -->
          <!-- <div cdkDrop (cdkDropDropped)="dropped($event)"> -->
  
          <img src="assets/img/{{col}}.png" class="rounded">
          <!-- <img src="assets/img/{{col}}.png" class="rounded" droppable [dropScope]="'drag-img'" (onDrop)="onDrop($event)"
            (drop)="dropped($event)" [@changeImgSrc]=currentState *ngIf="col==-2; else elseBlockImg">
          <ng-template #elseBlockImg>
            <img src="assets/img/{{col}}.png" class="rounded" droppable [dropScope]="'drag-img'" (onDrop)="onDrop($event)"
              (drop)="dropped($event)">
          </ng-template> -->
          <!-- </div> -->
  
          <!-- <div *ngIf="col; else elseBlock">
                <img src="assets/img/woodblock.png" class="rounded" *ngIf="col">
              </div>
  
              <ng-template #elseBlock>
                <div (drop)="drop($event)" (dragover)="allowDrop($event)"> </div>
                <div cdkDropList (cdkDropListDropped)="drop($event)"> </div>
              </ng-template> -->
        </div>
      </div>
    </div>
  </div>