<!-- blocks à jouer -->
<div class="row blocks" *ngIf="gameOverJoueur; else elseBlock">
  <div class="col border-right text-center" *ngFor="let block of blockPosableJoueur">
    <img src="assets/img/{{block.nom}}.png" class="rounded" draggable [dragScope]="'drag-img'" [dragData]="block"
      (onDragStart)="onDragStart(block)" aria-disabled="true">
  </div>
</div>

<ng-template #elseBlock>
  <div class="row blocks">
    <div class="col border-right text-center" *ngFor="let block of blockPosableJoueur">
      <img src="assets/img/{{block.nom}}.png" class="rounded" draggable [dragScope]="'drag-img'" [dragData]="block"
        (onDragStart)="onDragStart(block)" aria-disabled="true">
    </div>
  </div>
</ng-template>