@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
// @import "../../../node_modules/ng-drag-drop/style.css";

.grille {
  margin-bottom: 15px;
  padding: 10px;
}
.grille img {
  height: 100%;
  width: 100%;
}

// .blocks img {
//   // height: 85%;
//   // width: 30%;
// }

// .blocks div,
.grille div {
  padding: 0;
}

.hint {
  border: 5px solid rgb(219, 11, 11);
  // padding: 1px;
}




// #cf {
//   position:relative;
//   height:281px;
//   width:450px;
//   margin:0 auto;
// }

// #cf img {
//   position:absolute;
//   left:0;
//   -webkit-transition: opacity 1s ease-in-out;
//   -moz-transition: opacity 1s ease-in-out;
//   -o-transition: opacity 1s ease-in-out;
//   transition: opacity 1s ease-in-out;
// }

// #cf img.top:hover {
//   opacity:0;
// }