<!-- <div id="cf">
  <img class="bottom" src="assets/img/-22.png" />
  <img class="top" src="assets/img/1.png" />
</div> -->


<!-- grille -->
<!-- <button id="animate" (click)="changeState()">click</button> -->
<div class="row grille border-right border-bottom">
  <div class="col">
    <div class="row justify-content-sm-center" *ngFor="let gr of gridJoueur.mainTable; index as i">
      <div *ngFor="let col of gr; index as j" id="{{i}},{{j}}" class="col-sm-1 border" droppable
        [dropScope]="'drag-img'" (onDrop)="onDrop($event)" (drop)="dropped($event)" (onDragOver)="onDragOver(i, j)">

        <!-- <div (drop)="drop($event)" (dragover)="allowDrop($event)"> -->
        <!-- <div cdkDrop (cdkDropDropped)="dropped($event)"> -->

        <img src="assets/img/{{col}}.png" class="rounded" droppable [dropScope]="'drag-img'" (onDrop)="onDrop($event)"
          (drop)="dropped($event)">
        <!-- <img src="assets/img/{{col}}.png" class="rounded" droppable [dropScope]="'drag-img'" (onDrop)="onDrop($event)"
          (drop)="dropped($event)" [@changeImgSrc]=currentState *ngIf="col==-2; else elseBlockImg">
        <ng-template #elseBlockImg>
          <img src="assets/img/{{col}}.png" class="rounded" droppable [dropScope]="'drag-img'" (onDrop)="onDrop($event)"
            (drop)="dropped($event)">
        </ng-template> -->
        <!-- </div> -->

        <!-- <div *ngIf="col; else elseBlock">
              <img src="assets/img/woodblock.png" class="rounded" *ngIf="col">
            </div>

            <ng-template #elseBlock>
              <div (drop)="drop($event)" (dragover)="allowDrop($event)"> </div>
              <div cdkDropList (cdkDropListDropped)="drop($event)"> </div>
            </ng-template> -->
      </div>
    </div>
  </div>
</div>